<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body style="margin:0; padding: 0; box-sizing: border-box;">
       <div style=" background-color:rgba(1, 0, 0, 0.336); height: 98.6vh; width: 98.7vw;">
        <h1 style="text-align: center; padding-top: 50px; padding-bottom: 30px;"></h1>
        <div style=" display: flex; flex-direction: column; text-align: center;align-items: center; gap: 10px;">
            <label style="font-size:xx-large">Enter your new password</label>
            <input style="width: 41%; outline: none; padding: 5px;font-size: large;" placeholder="Enter your new password"  type="password">
            <button style="width: 41.7%;padding:5px; font-size: large;">Submit</button>
        </div>

       </div>
        <script>
        let token ="<%= token %>"
        // console.log(token)
        let headingTang=document.querySelector('h1')
       

        let btn=document.querySelector('button')
        let input=document.querySelector('input')
        btn.addEventListener('click',async()=>{
            // console.log("running")
            let ans=input.value
            // console.log(ans)
            let res=await fetch(`https://mediaapp-i6ao.onrender.com/api/users/resetToken/${token}`,{
                method:"POST",
                headers:{
                    'content-type':'application/json'
                },
              body:JSON.stringify({newPassword:ans})
            })
            let data=await res.json()
            // console.log(data)
            if(data.success===true){
                headingTang.innerHTML=data.msg
                headingTang.style.color="green"
                input.value=""
            }else{
               headingTang.innerHTML=data.msg
                headingTang.style.color="red"
                input.value=""
            }
        })
       
    </script>
    </body>
</html>